/*
Apply for all the html elements
*/
*{
  margin: 0;
  padding: 0;
  /*add google fonts link*/
  font-family: 'Balsamiq Sans', cursive;
}


/*
Re-size my background picture
*/
.header{
  min-height: 100vh;
  width: 100%;
  background-image: 
  /*Only make my background image darker*/
  linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),
  url(image/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

/*
my photo
*/
nav img{
  /*Re-size */
  width: 216px;
  height: 216px;
  /*make photo fit in css circle*/
  background: url("image/Artis_photo.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border-radius: 50%;
  /*change position*/
  position: absolute;
  top:50%;
  left: 70%;
  transform: translate(-50%, -70%);
  text-align: center;
  margin: auto;
}


/*
buttom style
*/
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}


/*
Arrage buttoms to the left of the page
*/
.nav-links{
  flex:1;
  text-align: left;
}


/*
Arrange buttoms into one single line
*/
.nav-links ul li{
  list-style:none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}


/*
Change font color and size 
The font is download from google font
*/
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}


/*
One line under each buttom
However, this would hidden when I did not click the buttom
*/
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.25s;
}

/*
When I put mouse over the buttom
The undeline would appear in 0.25s
*/
.nav-links ul li:hover::after{
  width: 100%;
}

/*
When mouse over the buttom
The coloer of the buttom become weaker
*/
.nav-links ul li:hover{
  opacity: 0.5;
}



/*
Change text position 
*/
.text-box{
width: 90;
color: #fff;
position: absolute;
top:50%;
left: 40%;
transform: translate(-50%, -50%);
text-align: center;
}

/*
Change text size
*/
.text-box h1{
  font-size: 62px;
}

.text-box p{
  /*10 from top, 0 from left and right, 40 from bottom*/
  margin: 10px 10px 40px;
  font-size: 14px;
  color: #fff;
}

/* Style all font awesome icons */
.fa {
  /*The distance between each row*/
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}


/*
One line under each buttom
However, this would hidden when I did not click the buttom
*/
.fa::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.25s;
}


/*
When I put mouse over the buttom
The undeline would appear in 0.25s
*/
.fa:hover::after{
  width: 100%;
}


/* Add a hover effect*/
.fa:hover {
  opacity: 0.5;
}



/* Set a specific color for each brand */
/* Twitter */
.fa-twitter {
  color: white;
}

.fa-github {
  color: white;
}

.fa-linkedin {
  color: white;
}