/*
Apply for all the html elements
*/
*{
  margin: 0;
  padding: 0;
  /*add google fonts link*/
  font-family: 'Balsamiq Sans', cursive;
}


/*
Re-size my background picture
*/
.header{
  min-height: 100vh;
  width: 100%;
  background-image: 
  /*Only make my background image darker*/
  linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),
  url(image/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

/*
my photo
*/
nav img{
  /*Re-size */
  width: 216px;
  height: 216px;
  /*make photo fit in css circle*/
  background: url("image/Artis_photo.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border-radius: 50%;
  /*change position*/
  position: absolute;
  top:50%;
  left: 70%;
  transform: translate(-50%, -70%);
  text-align: center;
  margin: auto;
}


/*
buttom style
*/
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}


/*
Arrage buttoms to the left of the page
*/
.nav-links{
  flex:1;
  text-align: left;
}


/*
Arrange buttoms into one single line
*/
.nav-links ul li{
  list-style:none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}


/*
Change font color and size 
The font is download from google font
*/
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}


/*
One line under each buttom
However, this would hidden when I did not click the buttom
*/
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.25s;
}

/*
When I put mouse over the buttom
The undeline would appear in 0.25s
*/
.nav-links ul li:hover::after{
  width: 100%;
}

/*
When mouse over the buttom
The coloer of the buttom become weaker
*/
.nav-links ul li:hover{
  opacity: 0.5;
}



/*
Change text position 
*/
.text-box{
width: 90;
color: #fff;
position: absolute;
top:50%;
left: 40%;
transform: translate(-50%, -50%);
text-align: center;
}


/*
Change text size
*/
.text-box h1{
  font-size: 62px;
}


.text-box p{
  /*10 from top, 0 from left and right, 40 from bottom*/
  margin: 10px 10px 40px;
  font-size: 14px;
  color: #fff;
}


/* Style all font awesome icons */
.fa {
  /*The distance between each row*/
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}


/*
One line under each buttom
However, this would hidden when I did not click the buttom
*/
.fa::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.25s;
}


/*
When I put mouse over the buttom
The undeline would appear in 0.25s
*/
.fa:hover::after{
  width: 100%;
}


/* Add a hover effect*/
.fa:hover {
  opacity: 0.5;
}



/* Set a specific color for each brand */
/* Twitter */
.fa-twitter {
  color: white;
}

.fa-github {
  color: white;
}

.fa-linkedin {
  color: white;
}

/*
Create a 'know more' buttom with square bracket 
*/
.hero-bth{
  display: inline-block;
  text-decoration: none;
  color:#fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

/*
Change hover effect for 'know more' buttom
*/
.hero-bth:hover{
  opacity: 0.5;
  transition: 0.25s;
}


/*
Hide icon for large screen 
*/
nav .fa{
  display: none;
}

/*
For small window size
*/
@media(max-width: 700px){
   /*
   Change text size for small windows 
   */
   .text-box h1{
     font-size: 20px;
    }

    /*
    Change buttoms for small windows
    */
    .nav-links ul li{
      display: block;
    }

    /*Create a menu list*/
    .nav-links{
      position:absolute;
      background:	#FFC0CB;
      height: 100vh;
      width: 200px;
      top: 0;
      /*Hide the menu unless I click the menu icon*/
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 0.75s;
    }

    /*Make icon visable for small widows */
    nav .fa{
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
    }

    /*Create some space on menu list*/
    .nav-links ul{
      padding: 30px;
    }
}

/*About style*/
.about{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1{
  font-size: 36px;
  font-weight: 600;
}

p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}


/*
re-arrange rows in columns 
*/
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.about-col{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.about-col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}


/*When at the small window size, rearrange all columns into different rows*/
@media(max-width: 700px) {
  .row{
    flex-direction: column;
  }
}